fastapi
uvicorn[standard]
python-multipart
pydantic-settings
sqlalchemy
psycopg[binary]
alembic
python-dotenv
pgvector

PyMuPDF
python-docx
pandas
openpyxl
sentence-transformers
httpx

pwdlib[argon2]
PyJWT
email-validator
pytesseract
Pillow
